* {
  box-sizing: border-box;
  margin: 0,0,0,0;
}

div {
    background-color: #00FFFF;
    position: relative;
  }
  p {
    width: 33.33%;
    height:auto;
    border: 1px solid black;
    float: left;
   /* padding: 10px;  */
  }
  

  #p1 {
    background-color: #A52A2A;
    position: relative;
    
  }
  #p2 {
    background-color: #DEB887;
   
  }
  #p3 {
    background-color: #5F9EA0;
    
  }
  #p4 {
    background-color: #FF7F50;
  }
  
p.chicken {
  float: left;
  position: absolute;
  width: 5%;
  height: 20px;
  top: 0;
  left: 90%;
  text-align: center;

}

  section {
    clear: left;
  }
  
